<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue chez Hop la pizza <%= @user.fullname %> !</h1>
    <p>
      Vous vous êtes inscrit sur hop-la-pizza.herokuapp.com en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur hop-la-pizza.herokuapp.com ! </p>
  </body>
</html>